$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$grid-gutter-width: 30px;
$container-large-desktop: 1112px + $grid-gutter-width;
$standardBorderRadius: 3px;
$leftSideContainerWidth: 810px;


@import "mixins/mixins";
@import "base/bootstrap";
@import "base/basement";

/* Site's 2-nd level styles and components */
@import "modules/navbar";
@import "modules/tagsbar";
@import "modules/eventBlock";
@import "modules/eventsList";
@import "modules/eventDetail";

//@import "modules/sidewidgets";
