$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$grid-gutter-width: 30px;
$container-large-desktop: 1112px + $grid-gutter-width;
$standardBorderRadius: 3px;

//@import "base/bootstrap";
//@import "compass/css3";
//@import "compass/utilities/sprites";
//@import "mixins/mixins";
@import "base/bootstrap";
@import "base/basement";

@import "modules/navbar";
//@import "modules/sidewidgets";

//$icons-spacing: 4px;
//@import "icons/*.png";
//@include all-icons-sprites;

/* Site's 2-nd level styles and components */
//@import "modules/navbar";
