.event_block {

    .event_img_container {
        margin-right: 20px;
        width: 100px;
        text-align: center;
        img {
            max-width: 100px;
        }
    }

    .event_info {

        width: 620px;

        .event_date {
            font-size: 16px;
            line-height: 18px;
        }

        .event_title {
            color: #333;
            font-size: 24px;
            line-height: 30px;
        }

        .event_description {
            font-size: 16px;
            line-height: 22px;
            @include standard_description();
        }

        .event_activity {
            font-size: 16px;
            margin: 20px 0 0 0;
            p {
                display: inline-block;
                margin: 0 40px 0 0;
                line-height: 24px;
            }
        }

        .event_activity_counter {
            color: #6b9DD0;
        }

    }

}