/*$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";*/
$grid-gutter-width: 30px;
$container-large-desktop: 1112px + $grid-gutter-width;
$standardBorderRadius: 3px;
$leftSideContainerWidth: 810px;

@import "_bootstrap";
@import "compass/css3";
@import "compass/utilities/sprites";
@import "_mixins";
@import "_basement";
@import "_sidewidgets";

$icons-spacing: 4px;
@import "icons/*.png";
@include all-icons-sprites;


/* Site's 2-nd level styles and components */

@import "_navbar";

.events_list {
  @include default_list();
  @include event_info();
}

.event_detail {
  @include leftSideContainer();
  @include border-radius($standardBorderRadius);
  @include event_info();
}

.speakers_list {
  @include default_list();
  @include speaker_info();
}

.speaker_detail {
  @include leftSideContainer();
  @include speaker_info();
}

.speaker-events-list {
  margin: 0px 0 20px 0;
}


.tags-bar {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 20px 0;
  ul {
    display: inline-block;
    margin: 0 0 0 5px;
    li {
      border: 0;
      display: inline-block;
      font-size: 14px;
      line-height: 22px;
      margin: 0 10px 0 0;
      padding: 0;
      a, a:hover {
        color: #FFF;
        background: #acbdcf;
        padding: 4px 10px 3px;
        text-decoration: none;
        @include border-radius(10px);
      }
    }
  }
}