*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# front-end
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
npm-debug.log

pids
logs
results

node_modules
public
.idea
.tmp
.sass-cache
.vagrant
app/bower_components
heroku
