<div class="event_detail event_block">
    <div class="pull-left event_img_container">
        <img ng-src="{{event.logo}}" ng-alt="event.name" ng-title="event.name" />
    </div>
    <div class="pull-left event_info">
        <p class="event_date">{{(event.startdate + ' ' + event.enddate) | eventDate}}, {{event.city}}, {{event.place}}</p>
        <h4 class="event_title" ng-bind="event.name"></h4>
        <tags-bar class="event_tags" entity="events" label="true" tags="event.tags"></tags-bar>
        <div class="event_description" ng-bind-html="event.longDescription"></div>
    </div>
    <div class="clearfix"></div>
</div>