@font-face{
  font-family: "Calibri";
  src: url("../../assets/fonts/Calibri.eot");
  src: url("../../assets/fonts/Calibri.eot?#iefix") format("eot"), url("../../assets/fonts/Calibri.woff") format("woff"), url("../../assets/fonts/Calibri.ttf") format("truetype"), url("../../assets/fonts/Calibri.svg#agel") format("svg");
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #f0f3f5;
  color: #999;
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

span.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

