<ul class="events_list">
  <li bindonce ng-repeat="event in data">
    <div class="pull-left event_img_container">
      <a bo-href="'/events/' + event._id" bo-title="event.name"><img bo-src="event.logo | eventLogo" bo-alt="event.name" /></a>
    </div>
    <div class="pull-left event_info">
      <p class="event_date" bo-text="((event.startdate + ' ' + event.enddate) | eventDate) + ', ' + event.city + ', ' + event.place"></p>
      <h4 class="event_title"><a bo-href="'/events/' + event.slug" bo-text="event.name"></a></h4>
      <tags-bar class="event_tags" entity="events" label="false" data="event.tags"></tags-bar>
      <p class="event_description" bo-text="event.shortDescription"></p>
      <!--
      <div class="event_activity">
        <p class="event_comments"><span class="event_activity_counter" bo-text="event.comments"></span> Комментарии</p>
        <p class="event_participants"><span class="event_activity_counter" bo-text="event.participants"></span> Идут</p>
      </div>
      -->
    </div>
    <div class="clearfix"></div>
  </li>
</ul>