<div class="side_widget">
  <table>
    <tr>
      <th colspan="2" ng-bind="title"></th>
    </tr>
    <tr bindonce ng-repeat="event in events">
      <td>
        <p class="event_title"><a bo-href="'/events/' + event.slug" bo-text="event.shortName"></a></p>
        <p class="event_date" bo-text="((event.startdate + ' ' + event.enddate) | eventDate) + ', ' + event.place"></p>
      </td>
      <td><!--<p class="event_participants icons-people" bo-text="event.participants"></p>--></td>
    </tr>
  </table>
</div>